body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f4f4f4;
}

main {
	width: 100%;
	padding-inline: 2rem;
}

h1 {
	margin-top: 20px;
}

div.form-wrapper {
	display: flex;
	gap: 12px;
}

div.form-wrapper > button {
	width: 30%;
	background: radial-gradient(
		circle at top,
		#0e9688 0%,
		#007f70 30%,
		#005b52 100%
	);
	color: white;
	text-transform: capitalize;
	font-size: 14px;
	font-weight: 500;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
	position: relative;
	text-align: center;
	cursor: pointer;
}
div.form-wrapper > button:hover {
	transform: translateY(-1px);
	background: radial-gradient(
		circle at top,
		#0e9688 0%,
		#1c9486 30%,
		#005b52 100%
	);
	color: white;
}

.container {
	/* max-width: 400px; */
	width: 66%;
	margin-block: 20px;
	margin-inline: 0 auto;
	background: #fff;
	padding: 30px;
	box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
		rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
		rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
		rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
		rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
		rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

input[type="number"],
button {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
}

button {
	background-color: #007bff;
	color: white;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: #0056b3;
}

#conversionChart {
	margin-top: 20px;
}

.flex-wrapper {
	display: flex;
}

.output {
	font: 500 22px sans-serif;
	color: #282828;
	text-align: center;
	margin-top: 3rem;
}

.output > span {
	padding-block: 14px;
	width: 30rem;
	background: #f4f4f41c;
	border: 1px solid #8080805e;
	border-radius: 6px;
	font-size: 18px;
	font-weight: 600;
	display: inline-block;
}

@media (width < 820px) {
	.output > span {
		width: 14rem;
		margin-top: 12px;
	}
}

@media (width < 700px) {
	.flex-wrapper {
		flex-direction: column;
	}

	.container {
		width: 100%;
		max-width: 100%;
	}

	main {
		padding-inline: 1rem;
	}

	div.form-wrapper {
		display: flex;
		flex-direction: column;
		gap: 6px;
	}

	div.form-wrapper > input {
		width: 100%;
		margin-bottom: 0;
	}

	div.form-wrapper > button {
		width: 100%;
	}

	.output {
		font: 600 15px sans-serif;
		color: #282828;
	}

	input[type="number"],
	button {
		padding: 4px;
		margin: 6px 0;
		font-size: 14px;
	}
}

.beautiful-table {
	width: 70%;
	margin: 0 auto;
	border-collapse: collapse;
	text-align: center;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.beautiful-table td {
	padding: 10px 10px;
	border: 1px solid #ddd;
	/* background-color: #f9f9f9; */
}

.beautiful-table tr:nth-child(even) {
	background-color: #f9f9f9;
}

.beautiful-table th {
	background-color: #eeecec;
	color: black;
	padding: 10px 10px;
	border: 1px solid #ddd;
	text-shadow: none;
}

@media (width < 500px) {
	.beautiful-table th,
	.beautiful-table td {
		padding: 6px 8px;
	}

	.beautiful-table {
		font-size: 11px;
		line-height: 1.6;
		width: 100%;
	}

	h1 {
		text-align: center;
	}
}

.random-p {
	outline: 2px solid;
	padding: 16px 24px;
	font-weight: 600;
	width: fit-content;
	font-size: 20px;
	position: relative;
	left: 30%;
	background: linear-gradient(90deg, #00796b, #009688, #26a69a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h3 {
	margin-block: 2rem 1.4rem;
}

div.links-list li.faq:hover {
	transform: translate(0, 0);
}

.faq h3 {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
}

.answer {
	display: none;
}

.arrow.collapsed {
	transform: rotate(0deg);
}

.arrow.expanded {
	transform: rotate(180deg);
}

.faq-list {
	width: 70%;
}

@media (width < 700px) {
	.faq-list {
		width: 100%;
	}

	.faq h3 {
		font-size: 18px;
	}

	.faq i {
		height: min-content;
	}

	.random-p {
		left: 0;
	}
}

#list1 {
	position: sticky;
	right: 0;
	width: 32%;
	box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
		rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
		rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
		rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
		rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
		rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
	margin-top: 20px;
}

div.links-list {
	background: white;
	padding: 2rem 3rem;
	margin-block: 1rem 20px;
	border-radius: 8px;
}

div.links-list ul {
	list-style: none;
}

div.links-list a {
	background: linear-gradient(90deg, #00796b, #009688, #26a69a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 1em;
	font-weight: bold;
}

div.links-list a:hover {
	background: linear-gradient(-90deg, #00796b, #009688, #26a69a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 1em;
	font-weight: bold;
}

div.links-list li {
	transition: transform 180ms ease;
}

div.links-list li:hover {
	transform: translate(2px, -2px);
}

@media (width < 700px) {
	#list1 {
		width: 100%;
	}

	div.links-list {
		padding: 2rem 1.5rem;
	}

	h1 {
		margin-top: -10px;
		text-align: center;
	}

	div.form-wrapper > input {
		padding-left: 14px;
	}
}

#list2,
#about-div {
	box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
		rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
		rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
		rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
		rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
		rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

#about-div h2 {
	margin-block: 1rem 1.5rem;
}

#about-div p {
	letter-spacing: 0.85px;
	font-size: 15px;
}

div.links-list ul {
	list-style: none;
}

div#list2 ul {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.link-section {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.link-wrapper {
	width: 66%;
}

#link3 {
	width: 32%;
}

@media (width < 700px) {
	#list2 {
		width: 100%;
	}

	div#list2 ul {
		grid-template-columns: repeat(1, 1fr);
	}

	.link-section {
		flex-direction: column;
	}

	.link-section > *,
	#link3 {
		width: 100%;
	}

	#about-div p {
		letter-spacing: 0.95px;
		font-size: 14px;
	}

	#about-div h2 {
		font-size: 28px;
	}

	div.links-list li {
		font-size: 15px;
	}
}

.faq-list.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
	margin-top: 0;
}
